<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fb0f98985fad58fa2b592702f852d9f7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_fb0f98985fad58fa2b592702f852d9f7" ></div>
        
</body>
<script>
    
    
            var map_fb0f98985fad58fa2b592702f852d9f7 = L.map(
                "map_fb0f98985fad58fa2b592702f852d9f7",
                {
                    center: [48.860538424, 2.367722528],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_fb0f98985fad58fa2b592702f852d9f7);

            

        
    
            var tile_layer_90e20ec5b63066eb060f236d1a99297d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
            var marker_ff47a2f084df90fc9b62118b9e43879d = L.marker(
                [48.84987150000001, 2.3811387],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_4acd52359243347ce7599214a05ec1c1 = L.popup({"maxWidth": "100%"});

        
            
                var html_d9c4fca0c0f857a366a9245bcaa1a7fe = $(`<div id="html_d9c4fca0c0f857a366a9245bcaa1a7fe" style="width: 100.0%; height: 100.0%;">L'Ébauchoir</div>`)[0];
                popup_4acd52359243347ce7599214a05ec1c1.setContent(html_d9c4fca0c0f857a366a9245bcaa1a7fe);
            
        

        marker_ff47a2f084df90fc9b62118b9e43879d.bindPopup(popup_4acd52359243347ce7599214a05ec1c1)
        ;

        
    
    
            var marker_f812c9b421dec50daee57fc6942bd6b9 = L.marker(
                [48.8695902, 2.369381],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_ca1c75589fdb56036426a836446f1978 = L.popup({"maxWidth": "100%"});

        
            
                var html_5c40850fbc905340fe31d39bc1d040b4 = $(`<div id="html_5c40850fbc905340fe31d39bc1d040b4" style="width: 100.0%; height: 100.0%;">Ama Paris</div>`)[0];
                popup_ca1c75589fdb56036426a836446f1978.setContent(html_5c40850fbc905340fe31d39bc1d040b4);
            
        

        marker_f812c9b421dec50daee57fc6942bd6b9.bindPopup(popup_ca1c75589fdb56036426a836446f1978)
        ;

        
    
    
            var marker_159f226771b3afff5c807fb21ce70c0e = L.marker(
                [48.8681517, 2.3749043],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_4183ada89d6ddba34f223e3361fd0533 = L.popup({"maxWidth": "100%"});

        
            
                var html_738261c23edfee2b1f5bca807dd851f0 = $(`<div id="html_738261c23edfee2b1f5bca807dd851f0" style="width: 100.0%; height: 100.0%;">Alluma</div>`)[0];
                popup_4183ada89d6ddba34f223e3361fd0533.setContent(html_738261c23edfee2b1f5bca807dd851f0);
            
        

        marker_159f226771b3afff5c807fb21ce70c0e.bindPopup(popup_4183ada89d6ddba34f223e3361fd0533)
        ;

        
    
    
            var marker_c938b4f47b5486e7f789cc14d638b7a8 = L.marker(
                [48.865223, 2.3692549],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_48fe45d07933f51f11156843e2ddc406 = L.popup({"maxWidth": "100%"});

        
            
                var html_0e6c9eceb23e5cd131b8a39b4dfb6444 = $(`<div id="html_0e6c9eceb23e5cd131b8a39b4dfb6444" style="width: 100.0%; height: 100.0%;">Folderol</div>`)[0];
                popup_48fe45d07933f51f11156843e2ddc406.setContent(html_0e6c9eceb23e5cd131b8a39b4dfb6444);
            
        

        marker_c938b4f47b5486e7f789cc14d638b7a8.bindPopup(popup_48fe45d07933f51f11156843e2ddc406)
        ;

        
    
    
            var marker_82a34fc3743e970fc04ef08564fd5d7b = L.marker(
                [48.8623479, 2.3798121],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_5dbbaa77a064b0c008f6da5bdbcf1e7f = L.popup({"maxWidth": "100%"});

        
            
                var html_27784755015356545e71875d792fbf1c = $(`<div id="html_27784755015356545e71875d792fbf1c" style="width: 100.0%; height: 100.0%;">Chanceux</div>`)[0];
                popup_5dbbaa77a064b0c008f6da5bdbcf1e7f.setContent(html_27784755015356545e71875d792fbf1c);
            
        

        marker_82a34fc3743e970fc04ef08564fd5d7b.bindPopup(popup_5dbbaa77a064b0c008f6da5bdbcf1e7f)
        ;

        
    
    
            var marker_011fdd5448c6afa63a92afbf88b9d053 = L.marker(
                [48.8661466, 2.3720138],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_edb8e374faf11ab4c9ba2fe146937fac = L.popup({"maxWidth": "100%"});

        
            
                var html_b60a5f7499a8e4f50af87df93e9fd0f3 = $(`<div id="html_b60a5f7499a8e4f50af87df93e9fd0f3" style="width: 100.0%; height: 100.0%;">Astier</div>`)[0];
                popup_edb8e374faf11ab4c9ba2fe146937fac.setContent(html_b60a5f7499a8e4f50af87df93e9fd0f3);
            
        

        marker_011fdd5448c6afa63a92afbf88b9d053.bindPopup(popup_edb8e374faf11ab4c9ba2fe146937fac)
        ;

        
    
    
            var marker_833b852ba8d679b56246415c0c6b3a7c = L.marker(
                [48.87313409999999, 2.3602992],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_7eae9e84c65a6dcc490021fc362a66c9 = L.popup({"maxWidth": "100%"});

        
            
                var html_08a98612f15b8acb7bc04ab52e3a10a0 = $(`<div id="html_08a98612f15b8acb7bc04ab52e3a10a0" style="width: 100.0%; height: 100.0%;">La taverne de Zhao</div>`)[0];
                popup_7eae9e84c65a6dcc490021fc362a66c9.setContent(html_08a98612f15b8acb7bc04ab52e3a10a0);
            
        

        marker_833b852ba8d679b56246415c0c6b3a7c.bindPopup(popup_7eae9e84c65a6dcc490021fc362a66c9)
        ;

        
    
    
            var marker_67ce15a21ef5e894da6b7ba5d49e6c29 = L.marker(
                [48.86761629999999, 2.3427486],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_8a0e1eee6e93c719ddf3cb48da8af2d4 = L.popup({"maxWidth": "100%"});

        
            
                var html_e7c5c7b1261730117d7b5e21048e027d = $(`<div id="html_e7c5c7b1261730117d7b5e21048e027d" style="width: 100.0%; height: 100.0%;">Jtepadi</div>`)[0];
                popup_8a0e1eee6e93c719ddf3cb48da8af2d4.setContent(html_e7c5c7b1261730117d7b5e21048e027d);
            
        

        marker_67ce15a21ef5e894da6b7ba5d49e6c29.bindPopup(popup_8a0e1eee6e93c719ddf3cb48da8af2d4)
        ;

        
    
    
            var marker_92be0179fea01e7b9360610c353cb485 = L.marker(
                [48.8545931, 2.3973699],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_ff083cae3ccb1ddf9db87096223d2123 = L.popup({"maxWidth": "100%"});

        
            
                var html_ad336c139f1ee0f710e7d6fd04e55701 = $(`<div id="html_ad336c139f1ee0f710e7d6fd04e55701" style="width: 100.0%; height: 100.0%;">Des terres</div>`)[0];
                popup_ff083cae3ccb1ddf9db87096223d2123.setContent(html_ad336c139f1ee0f710e7d6fd04e55701);
            
        

        marker_92be0179fea01e7b9360610c353cb485.bindPopup(popup_ff083cae3ccb1ddf9db87096223d2123)
        ;

        
    
    
            var marker_1ad59a2fd42462c9647f119d2002e6d6 = L.marker(
                [48.8617807, 2.3778898],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_72fde2d120605bf1f9dd3932f8e86103 = L.popup({"maxWidth": "100%"});

        
            
                var html_bf3a88c1577c4f8cedcb1372b4a759af = $(`<div id="html_bf3a88c1577c4f8cedcb1372b4a759af" style="width: 100.0%; height: 100.0%;">Fugazi</div>`)[0];
                popup_72fde2d120605bf1f9dd3932f8e86103.setContent(html_bf3a88c1577c4f8cedcb1372b4a759af);
            
        

        marker_1ad59a2fd42462c9647f119d2002e6d6.bindPopup(popup_72fde2d120605bf1f9dd3932f8e86103)
        ;

        
    
    
            var marker_f52603687a8ab0d0163b6c1543f2693d = L.marker(
                [48.862016, 2.3834905],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_3a7eaf8e978976de3f953e0d1eedf1fc = L.popup({"maxWidth": "100%"});

        
            
                var html_25ec89e3ede6e5febdd29e6b6418c5d9 = $(`<div id="html_25ec89e3ede6e5febdd29e6b6418c5d9" style="width: 100.0%; height: 100.0%;">Jolia</div>`)[0];
                popup_3a7eaf8e978976de3f953e0d1eedf1fc.setContent(html_25ec89e3ede6e5febdd29e6b6418c5d9);
            
        

        marker_f52603687a8ab0d0163b6c1543f2693d.bindPopup(popup_3a7eaf8e978976de3f953e0d1eedf1fc)
        ;

        
    
    
            var marker_2c07f9cc985ff3d6c363bc938c50f33f = L.marker(
                [48.8479176, 2.3303639],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_86ce853a32f84b07224e4235edfcb155 = L.popup({"maxWidth": "100%"});

        
            
                var html_e103aff2cf20f34ae209f6618203a931 = $(`<div id="html_e103aff2cf20f34ae209f6618203a931" style="width: 100.0%; height: 100.0%;">Sadaharu aoki (pâtisserie)</div>`)[0];
                popup_86ce853a32f84b07224e4235edfcb155.setContent(html_e103aff2cf20f34ae209f6618203a931);
            
        

        marker_2c07f9cc985ff3d6c363bc938c50f33f.bindPopup(popup_86ce853a32f84b07224e4235edfcb155)
        ;

        
    
    
            var marker_2832a999812fbe4e4e970b094a74dda8 = L.marker(
                [48.8513318, 2.3846753],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_07f8b69d95a16b3b40a431af02cc177a = L.popup({"maxWidth": "100%"});

        
            
                var html_dee67e1ac3ff134411fdae83ca4d7ed0 = $(`<div id="html_dee67e1ac3ff134411fdae83ca4d7ed0" style="width: 100.0%; height: 100.0%;">6 paul Bert</div>`)[0];
                popup_07f8b69d95a16b3b40a431af02cc177a.setContent(html_dee67e1ac3ff134411fdae83ca4d7ed0);
            
        

        marker_2832a999812fbe4e4e970b094a74dda8.bindPopup(popup_07f8b69d95a16b3b40a431af02cc177a)
        ;

        
    
    
            var marker_d3a1af20d6e20c9690a8472118b26c75 = L.marker(
                [48.8497433, 2.3771973],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_100a411eceebc0adcb341b3198714cb0 = L.popup({"maxWidth": "100%"});

        
            
                var html_812c01a84a7466f91149d0791c370ece = $(`<div id="html_812c01a84a7466f91149d0791c370ece" style="width: 100.0%; height: 100.0%;">Totto</div>`)[0];
                popup_100a411eceebc0adcb341b3198714cb0.setContent(html_812c01a84a7466f91149d0791c370ece);
            
        

        marker_d3a1af20d6e20c9690a8472118b26c75.bindPopup(popup_100a411eceebc0adcb341b3198714cb0)
        ;

        
    
    
            var marker_f20f4397c461d6200bb8e90e08c3803c = L.marker(
                [48.8739314, 2.3454692],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_e3221488bf2486747c2a4e4da4b600d6 = L.popup({"maxWidth": "100%"});

        
            
                var html_3db82eca616ff3e417e7bd72c87e7060 = $(`<div id="html_3db82eca616ff3e417e7bd72c87e7060" style="width: 100.0%; height: 100.0%;">L’orient d’or</div>`)[0];
                popup_e3221488bf2486747c2a4e4da4b600d6.setContent(html_3db82eca616ff3e417e7bd72c87e7060);
            
        

        marker_f20f4397c461d6200bb8e90e08c3803c.bindPopup(popup_e3221488bf2486747c2a4e4da4b600d6)
        ;

        
    
    
            var marker_7ed034ab3ddfebdc5073811406a58180 = L.marker(
                [48.8542825, 2.3760746],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_6353c6cba38b714fad1e57bf98f478a1 = L.popup({"maxWidth": "100%"});

        
            
                var html_a4402c6b9fc1377391d5913288e1a639 = $(`<div id="html_a4402c6b9fc1377391d5913288e1a639" style="width: 100.0%; height: 100.0%;">Le petit Keller</div>`)[0];
                popup_6353c6cba38b714fad1e57bf98f478a1.setContent(html_a4402c6b9fc1377391d5913288e1a639);
            
        

        marker_7ed034ab3ddfebdc5073811406a58180.bindPopup(popup_6353c6cba38b714fad1e57bf98f478a1)
        ;

        
    
    
            var marker_db4dabf75f7f5a4fca50122488fec0ac = L.marker(
                [48.86101559999999, 2.3814506],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_dcb4746a858cf3f5f446f3b8033e62c7 = L.popup({"maxWidth": "100%"});

        
            
                var html_7aeb8b0bcc4f6bab918dd450b600ec24 = $(`<div id="html_7aeb8b0bcc4f6bab918dd450b600ec24" style="width: 100.0%; height: 100.0%;">Diggity</div>`)[0];
                popup_dcb4746a858cf3f5f446f3b8033e62c7.setContent(html_7aeb8b0bcc4f6bab918dd450b600ec24);
            
        

        marker_db4dabf75f7f5a4fca50122488fec0ac.bindPopup(popup_dcb4746a858cf3f5f446f3b8033e62c7)
        ;

        
    
    
            var marker_136200fab33ae9fb42fe90b3bf8f415f = L.marker(
                [48.86494690000001, 2.3856548],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_ddee734f361a715de510a5bf81d629b3 = L.popup({"maxWidth": "100%"});

        
            
                var html_2c3258094bbb3260f3a574502df168d7 = $(`<div id="html_2c3258094bbb3260f3a574502df168d7" style="width: 100.0%; height: 100.0%;">Brasserie Balthazar</div>`)[0];
                popup_ddee734f361a715de510a5bf81d629b3.setContent(html_2c3258094bbb3260f3a574502df168d7);
            
        

        marker_136200fab33ae9fb42fe90b3bf8f415f.bindPopup(popup_ddee734f361a715de510a5bf81d629b3)
        ;

        
    
    
            var marker_097adec6d9a6852cbaa0d56e87828f81 = L.marker(
                [48.8529253, 2.3849962],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_9a8773696c27cb1626a6637fc64be3aa = L.popup({"maxWidth": "100%"});

        
            
                var html_92ca3659928c3a42f0c9a9e3590e127d = $(`<div id="html_92ca3659928c3a42f0c9a9e3590e127d" style="width: 100.0%; height: 100.0%;">Les loupiotes</div>`)[0];
                popup_9a8773696c27cb1626a6637fc64be3aa.setContent(html_92ca3659928c3a42f0c9a9e3590e127d);
            
        

        marker_097adec6d9a6852cbaa0d56e87828f81.bindPopup(popup_9a8773696c27cb1626a6637fc64be3aa)
        ;

        
    
    
            var marker_6c8c20ffd91677c305efa55ddf7fa619 = L.marker(
                [48.8529253, 2.3849962],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_8db11f600afabed24b907902f8c672b9 = L.popup({"maxWidth": "100%"});

        
            
                var html_efb70c9a8c000763ce9c2721eaec274e = $(`<div id="html_efb70c9a8c000763ce9c2721eaec274e" style="width: 100.0%; height: 100.0%;">Chez Mamy</div>`)[0];
                popup_8db11f600afabed24b907902f8c672b9.setContent(html_efb70c9a8c000763ce9c2721eaec274e);
            
        

        marker_6c8c20ffd91677c305efa55ddf7fa619.bindPopup(popup_8db11f600afabed24b907902f8c672b9)
        ;

        
    
    
            var marker_2df5703101826a342c41a6253d28826f = L.marker(
                [48.8565048, 2.3779741],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_bb8016c83856793d6d54909e72711880 = L.popup({"maxWidth": "100%"});

        
            
                var html_b3a2e53432b194b274698f66d8b9edbe = $(`<div id="html_b3a2e53432b194b274698f66d8b9edbe" style="width: 100.0%; height: 100.0%;">Petit Nuage</div>`)[0];
                popup_bb8016c83856793d6d54909e72711880.setContent(html_b3a2e53432b194b274698f66d8b9edbe);
            
        

        marker_2df5703101826a342c41a6253d28826f.bindPopup(popup_bb8016c83856793d6d54909e72711880)
        ;

        
    
    
            var marker_9b44e6f37403df40d1fb5fdecb756abc = L.marker(
                [48.8694028, 2.3474175],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_0773b52d31d1ceb19fe6e8f5d60c497f = L.popup({"maxWidth": "100%"});

        
            
                var html_d7c0acbc5afa5bc37246ed1942a795fa = $(`<div id="html_d7c0acbc5afa5bc37246ed1942a795fa" style="width: 100.0%; height: 100.0%;">La boissonière</div>`)[0];
                popup_0773b52d31d1ceb19fe6e8f5d60c497f.setContent(html_d7c0acbc5afa5bc37246ed1942a795fa);
            
        

        marker_9b44e6f37403df40d1fb5fdecb756abc.bindPopup(popup_0773b52d31d1ceb19fe6e8f5d60c497f)
        ;

        
    
    
            var marker_16a8db65afeb15aa8dd26419a0d6f83c = L.marker(
                [48.8452256, 2.2894417],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_dc881d0dc4720a3eef3d004a57b0e941 = L.popup({"maxWidth": "100%"});

        
            
                var html_8c3986c66ef259fcf317cabb83de4caa = $(`<div id="html_8c3986c66ef259fcf317cabb83de4caa" style="width: 100.0%; height: 100.0%;">Mazeh</div>`)[0];
                popup_dc881d0dc4720a3eef3d004a57b0e941.setContent(html_8c3986c66ef259fcf317cabb83de4caa);
            
        

        marker_16a8db65afeb15aa8dd26419a0d6f83c.bindPopup(popup_dc881d0dc4720a3eef3d004a57b0e941)
        ;

        
    
    
            var marker_4fc25df6ef384319d6015f9d46cf8248 = L.marker(
                [48.8681548, 2.3717915],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_de78da7ad1c0407c885596a33c42ce77 = L.popup({"maxWidth": "100%"});

        
            
                var html_184868e69f36a5ac548a17317dc7fde6 = $(`<div id="html_184868e69f36a5ac548a17317dc7fde6" style="width: 100.0%; height: 100.0%;">Chez Robert</div>`)[0];
                popup_de78da7ad1c0407c885596a33c42ce77.setContent(html_184868e69f36a5ac548a17317dc7fde6);
            
        

        marker_4fc25df6ef384319d6015f9d46cf8248.bindPopup(popup_de78da7ad1c0407c885596a33c42ce77)
        ;

        
    
    
            var marker_aa9564afbb3ed78260643dfa9e689c59 = L.marker(
                [48.8646818, 2.3472575],
                {}
            ).addTo(map_fb0f98985fad58fa2b592702f852d9f7);
        
    
        var popup_c6ec5b1dfd8f78f2c626dd4869cb759c = L.popup({"maxWidth": "100%"});

        
            
                var html_5d603bdda0c55bc71446c7378ed7a489 = $(`<div id="html_5d603bdda0c55bc71446c7378ed7a489" style="width: 100.0%; height: 100.0%;">L'Osteria Ruggera</div>`)[0];
                popup_c6ec5b1dfd8f78f2c626dd4869cb759c.setContent(html_5d603bdda0c55bc71446c7378ed7a489);
            
        

        marker_aa9564afbb3ed78260643dfa9e689c59.bindPopup(popup_c6ec5b1dfd8f78f2c626dd4869cb759c)
        ;

        
    
</script>
</html>